/* 재사용 가능한 레이아웃 스타일 */

.page {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: var(--font-geist-sans);
    background-color: var(--background);
}

.main {
    display: flex;
    min-height: 100vh;
    width: 100%;
    max-width: 800px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--foreground);
    padding: 120px 60px;
}

@media (max-width: 600px) {
    .main {
        padding: 48px 24px;
    }
}