/* CSS 변수 - 글로벌 디자인 토큰 */

:root {
    /* 색상 - 라이트 모드 */
    --background: #fafafa;
    --foreground: #fff;

    --text-primary: #000;
    --text-secondary: #666;

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
    --button-secondary-border: #ebebeb;
}

/* 다크 모드 */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #000;
        --foreground: #000;

        --text-primary: #ededed;
        --text-secondary: #999;

        --button-primary-hover: #ccc;
        --button-secondary-hover: #1a1a1a;
        --button-secondary-border: #1a1a1a;
    }
}