/* 분리된 모듈에서 재사용 가능한 스타일 가져오기 */
@import '../styles/buttons.module.css';
@import '../styles/layout.module.css';
@import '../styles/typography.module.css';

/* 로고 전용 스타일 */
@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}